@import "./variables";

@media all and (max-width: 900px) {
    html,
    body {
        width: 100%;
        height: auto;
        min-height: 100vh;
        overflow-x: hidden;
    }

    // Header
    header {
        min-width: $minWidth;
        display: block;
        width: 100%;
        min-height: 90vh;
        padding-bottom: 2em;

        & .desktop {
            width: 100%;
            display: none;
        }

        & .mobile {
            display: block;
            width: 100%;
            object-fit: cover;
        }

        & article {
            width: 100%;
            position: absolute;
            top: 14%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & h1 {
                width: 90%;
                font-size: $fs-100 + 1rem;
                font-family: $ff-100;
                font-weight: $fw-100;
                text-align: center;
                color: $clr-neutral-100;
                transform: translateY(30px);
            }

            & p {
                width: 90%;
                font-size: $fs-100 - 0.1rem;
                text-align: center;
                color: $clr-neutral-200;
                font-family: $ff-100;
                font-weight: 300;
                line-height: 25px;
            }

            & .button-box {
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2em;

                & button {
                    width: 80%;
                    height: 60px;
                    border-radius: 3em;
                    font-size: $fs-100 + 0.1rem;
                    color: $clr-neutral-300;
                    cursor: pointer;
                    border: none;
                }

                & button:nth-child(1) {
                    background-color: $clr-primary-100;
                    box-shadow:
                        inset 0px -2px 2px 1px $clr-accent-100,
                        0px 5px 15px 1px hsla(171, 66%, 44%, 0.626);
                }

                & button:nth-child(2) {
                    background-color: $clr-primary-200;
                    box-shadow:
                        inset 0px -2px 2px 1px $clr-accent-200,
                        0px 5px 15px 1px hsla(233, 100%, 69%, 0.629);
                }
            }
        }
    }

    // Main

    main {
        width: 100%;
        min-width: $minWidth;
        min-height: 100vh;

        // Section 1

        & .section-1 {
            width: 100%;
            margin-bottom: 10em;

            & .section-top {
                width: 100%;
                margin-block-end: 4em;

                & h2 {
                    font-size: $fs-100 + 0.8rem;
                    font-family: $ff-100;
                    font-weight: $fw-100;
                    text-align: center;
                    color: $clr-neutral-100;
                }

                & p {
                    width: 90%;
                    font-family: $ff-100;
                    color: $clr-neutral-200;
                    font-size: $fs-100 - 0.2rem;
                    text-align: center;
                    margin-inline: 1em 1em;
                    line-height: 25px;
                }
            }

            & .section-row {
                width: 100%;

                & .section-left {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & img {
                        width: 80%;
                        display: block;
                        object-fit: contain;
                        scale: 1;
                    }
                }

                & .section-right {
                    width: 100%;

                    .right {
                        margin-block-start: 2em;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & h3 {
                            font-size: $fs-100 + 0.3rem;
                            font-family: $ff-100;
                            color: $clr-neutral-100;
                            font-weight: $fw-100;
                            text-align: center;
                        }

                        & p {
                            margin-block-start: 0em;
                            width: 80%;
                            font-family: $ff-100;
                            font-size: $fs-100 - 0.1rem;
                            color: $clr-neutral-200;
                            text-align: center;
                            line-height: 25px;
                        }
                    }
                }
            }
        }

        // Section 2

        & .section-2 {
            width: 100%;

            & .section-top {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                & h2 {
                    width: 90%;
                    font-family: $ff-100;
                    font-weight: $fw-60;
                    font-size: $fs-100 + 0.8rem;
                    color: $clr-neutral-100;
                    text-align: center;
                    margin-inline: 2em 2em;
                }

                & p {
                    text-align: center;
                    width: 80%;
                    font-family: $ff-100;
                    font-size: $fs-100 - 0.1rem;
                    color: $clr-neutral-200;
                    line-height: 30px;
                }
            }

            & .section-bottom {
                margin-block: 2em;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    width: 90%;
                    display: block;
                    object-fit: contain;
                }
            }
        }

        // Section 3

        & .section-3 {
            width: 100%;

            & .section-top {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                & h2 {
                    width: 90%;
                    text-align: center;
                    font-size: $fs-100 + 0.7rem;
                    font-family: $ff-100;
                    font-weight: $fw-100;
                    color: $clr-neutral-100;
                    margin-inline: 1em 1em;
                }

                & p {
                    width: 80%;
                    text-align: center;
                    font-size: $fs-100 - 0.1rem;
                    font-family: $ff-100;
                    color: $clr-neutral-200;
                    font-weight: $fw-50;
                    line-height: 25px;
                    margin-block: 0em 1em;
                }
            }

            & .row-section {
                margin-block-start: 4em;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4em;

                & .box {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & h4 {
                        font-size: $fs-100 + 0.3rem;
                        font-family: $ff-100;
                        font-weight: $fw-100;
                        color: $clr-neutral-100;
                    }

                    & p {
                        text-align: center;
                        font-family: $ff-100;
                        font-weight: $fw-50;
                        color: $clr-neutral-200;
                        line-height: 25px;
                        margin-inline: 1em 1em;
                    }
                }
            }

            & .logos-section {
                margin-block: 5em 5em;
                width: 100%;

                & .logos {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 4em;

                    & img {
                        width: 30%;
                        display: block;
                        object-fit: contain;
                    }

                    & .duplicate {
                        display: none;
                    }
                }
            }
        }

        // Section 4

        & .section-4 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-block-end: 5em;

            & h2 {
                text-align: center;
                font-family: $ff-100;
                font-weight: $fw-60;
                font-size: $fs-100 + 0.6rem;
                margin-inline: 1.5em 1.5em;
                color: $clr-neutral-100;
            }

            & p {
                margin-block-start: 0;
                width: 80%;
                text-align: center;
                font-family: $ff-100;
                font-weight: $fw-50;
                color: $clr-neutral-200;
                line-height: 25px;
            }

            & .button-box {
                margin-block: 2em 2em;
                width: 100%;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;

                & button {
                    width: 80%;
                    height: 60px;
                    border-radius: 3em;
                    font-size: $fs-100 - 0.1rem;
                    color: $clr-neutral-300;
                    cursor: pointer;
                    border: none;
                    outline: none;
                }

                & button:nth-child(1) {
                    background-color: $clr-primary-100;
                    box-shadow:
                        inset 0px -2px 2px 1px $clr-accent-100,
                        0px 5px 15px 1px hsla(171, 66%, 44%, 0.626);
                }

                & button:nth-child(2) {
                    background-color: $clr-primary-200;
                    box-shadow:
                        inset 0px -2px 2px 1px $clr-accent-200,
                        0px 5px 15px 1px hsla(233, 100%, 69%, 0.629);
                }
            }
        }
    }

    // Footer

    footer {
        width: 100%;
        min-height: 60vh;
        background-color: $clr-neutral-400;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & .footer-section {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        & .footer-logo svg {
            transform: scale(0.42);

            & circle {
                stroke-width: 13px;
            }

            & path {
                stroke-width: 13px;
            }
        }

        & .footer-contact {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2em;

            & .links {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2em;

                & a {
                    text-decoration: none;
                    color: $clr-neutral-100;
                    font-size: $fs-100;
                    font-family: $ff-100;
                    font-weight: $fw-50;
                    transition: 500ms ease-in-out;
                }

                & a:focus {
                    color: $clr-primary-100;
                    transition: 500ms ease-in-out;
                }
            }
        }

        & .footer-social {
            padding-block: 3em 3em;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2em;

            & a {
                text-decoration: none;
                font-size: $fs-100 + 0.5rem;
                transition: 500ms ease-in-out;
                color: $clr-neutral-100;
            }

            & a:focus {
                color: $clr-primary-100;
                transition: 500ms ease-in-out;
            }
        }
    }
}
