// Sizes
$minWidth: 375px;
$maxWidth: 1440px;

// Colors
$clr-primary-100: hsl(171, 66%, 44%);
$clr-primary-200: hsl(233, 100%, 69%);

$clr-accent-100: hsl(171, 82%, 31%);
$clr-accent-200: hsl(233, 92%, 61%);

$clr-neutral-100: hsl(210, 10%, 33%);
$clr-neutral-200: hsl(201, 11%, 66%);
$clr-neutral-300: hsl(0, 0%, 100%);
$clr-neutral-400: hsla(0, 0%, 83%, 0.421);
// Font Size
$fs-100: 1.125rem;

// Font Family
$ff-100: "Bai Jamjuree", sans-serif;

// Font Weight
$fw-50: 400;
$fw-60: 500;
$fw-100: 600;