@import "./variables";
@import "./_mobile";

@media all and (min-width: 900px) {
    * {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        min-height: 100vh;
        height: auto;
    }

    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // Global Setup

    // Header
    header {
        max-width: $maxWidth;
        width: 100%;
        min-height: 75vh;
        display: block;
        position: relative;

        & img {
            position: absolute;
            top: 0;
            left: 0;
        }

        & .desktop {
            width: 100%;
            display: block;
            object-fit: cover;
        }

        & .mobile {
            display: none;
        }

        & article {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2em;

            & h1 {
                font-size: $fs-100 + 1.6rem;
                font-family: $ff-100;
                color: $clr-neutral-100;
                font-weight: $fw-100;
            }

            & p {
                font-size: $fs-100 + 0.1rem;
                margin-inline: 9em 9em;
                text-align: center;
                color: $clr-neutral-200;
                font-family: $ff-100;
                font-weight: 300;
                line-height: 25px;
            }

            & .button-box {
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: 1em;

                & button {
                    width: 220px;
                    height: 55px;
                    border-radius: 3em;
                    font-size: $fs-100 - 0.1rem;
                    color: $clr-neutral-300;
                    cursor: pointer;
                }

                & button:nth-child(1) {
                    background-color: $clr-primary-100;
                    box-shadow:
                        inset 0px -2px 2px 1px $clr-accent-100,
                        0px 5px 15px 1px hsla(171, 66%, 44%, 0.626);
                    transition: 1500ms ease-in-out;
                }

                & button:nth-child(1):hover,
                & button:nth-child(1):focus {
                    box-shadow:
                        0px -2px 2px 1px $clr-accent-100,
                        inset 0px 5px 15px 1px hsla(171, 66%, 44%, 0.626);
                    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(255, 255, 255, 0.5));
                    transition: 1500ms ease-in-out;
                }

                & button:nth-child(2) {
                    background-color: $clr-primary-200;
                    box-shadow:
                        inset 0px -2px 2px 1px $clr-accent-200,
                        0px 5px 15px 1px hsla(233, 100%, 69%, 0.629);
                    transition: 1500ms ease-in-out;
                }

                & button:nth-child(2):hover,
                & button:nth-child(2):focus {
                    box-shadow:
                        0px -2px 2px 1px $clr-accent-200,
                        inset 0px 5px 15px 1px hsla(233, 100%, 69%, 0.629);
                    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(255, 255, 255, 0.5));
                    transition: 1500ms ease-in-out;
                }
            }
        }
    }

    // Main

    main {
        max-width: $maxWidth;
        width: 100%;
        display: block;

        & .section-1 {
            width: 100%;

            & .section-top {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & h2 {
                    font-size: $fs-100 + 1rem;
                    font-family: $ff-100;
                    font-weight: $fw-100;
                    color: $clr-neutral-100;
                    text-align: center;
                }

                & p {
                    width: 60%;
                    font-size: $fs-100;
                    line-height: 30px;
                    font-family: $ff-100;
                    text-align: center;
                    color: $clr-neutral-200;
                    margin-block: 1em 1em;
                }
            }

            & .section-row {
                margin-block-start: 3em;
                width: 100%;
                display: flex;
                gap: 6em;
                & .section-left {
                    width: 50%;

                    & img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                        scale: 1.1;
                    }
                }

                & .section-right {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    & .right {
                        width: 100%;

                        & h3 {
                            font-size: $fs-100 + 0.4rem;
                            font-family: $ff-100;
                            font-weight: $fw-100;
                            color: $clr-neutral-100;
                        }

                        & p {
                            margin-block-start: 1em;
                            width: 56%;
                            font-size: $fs-100;
                            color: $clr-neutral-200;
                            line-height: 25px;
                        }
                    }
                }
            }
        }

        // Section 2

        & .section-2 {
            margin-block-start: 5em;
            width: 100%;

            & .section-top {
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & h2 {
                    font-size: $fs-100 + 1.1rem;
                    font-family: $ff-100;
                    font-weight: $fw-100;
                    color: $clr-neutral-100;
                }

                & p {
                    margin-block-start: 1em;
                    width: 55%;
                    text-align: center;
                    color: $clr-neutral-200;
                    font-family: $ff-100;
                    font-size: $fs-100;
                    font-weight: 400;
                    line-height: 30px;
                }
            }

            & .section-bottom {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    width: 70%;
                    height: 70%;
                    display: block;
                    object-fit: cover;
                }
            }
        }

        // Section 3

        & .section-3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            & .section-top {
                width: 100%;

                & h2 {
                    text-align: center;
                    font-size: $fs-100 + 1rem;
                    font-family: $ff-100;
                    font-weight: $fw-100;
                    color: $clr-neutral-100;
                    margin-block-start: 2em;
                }

                & p {
                    text-align: center;
                    font-size: $fs-100;
                    color: $clr-neutral-200;
                    font-family: $ff-100;
                    margin-block: 1em 4em;
                }
            }

            //  Row Section

            & .row-section {
                width: 100%;
                min-height: 300px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                & .box {
                    width: 30%;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: 500ms ease-in-out;

                    & svg {
                        width: 50px;
                        height: 50px;
                    }

                    & h4 {
                        font-size: $fs-100 + 0.4rem;
                        font-family: $ff-100;
                        font-weight: $fw-100;
                        color: $clr-neutral-100;
                    }

                    & p {
                        margin-block-start: 1em;
                        width: 85%;
                        text-align: center;
                        font-size: $fs-100 - 0.2rem;
                        font-family: $ff-100;
                        color: $clr-neutral-200;
                        line-height: 30px;
                        white-space: pre-line;
                    }
                }

                & .box:hover {
                    box-shadow:
                        inset -1px -2px 2px 0px $clr-neutral-200,
                        inset 1px 2px 2px 0px $clr-neutral-400;
                    transition: 500ms ease-in-out;
                    border-radius: 1em;
                }
            }

            & .logos-section {
                margin-block-start: 5em;
                width: 100%;
                overflow-x: hidden;

                & .logos {
                    width: fit-content;
                    display: flex;
                    justify-content: space-evenly;
                    gap: 9em;
                    animation: 20s slide infinite linear;
                    
                    & img {
                        width: 150px;
                        height: 45px;
                    }
                }
            }

            @keyframes slide {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-50%);
                }
            }
        }

        // Section 4

        & .section-4 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10em;

            & h2 {
                font-size: $fs-100 + 1rem;
                font-family: $ff-100;
                font-weight: $fw-100;
                color: $clr-neutral-100;
            }

            & p {
                margin-block-start: 1em;
                width: 85%;
                text-align: center;
                font-size: $fs-100;
                font-family: $ff-100;
                color: $clr-neutral-200;
                line-height: 30px;
                white-space: pre-line;
            }

            & .button-box {
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: 1em;

                & button {
                    width: 220px;
                    height: 55px;
                    border-radius: 3em;
                    font-size: $fs-100 - 0.1rem;
                    color: $clr-neutral-300;
                    cursor: pointer;
                }

                & button:nth-child(1) {
                    background-color: $clr-primary-100;
                    box-shadow:
                        inset 0px -2px 2px 1px $clr-accent-100,
                        0px 5px 15px 1px hsla(171, 66%, 44%, 0.626);
                }

                & button:nth-child(1):hover,
                & button:nth-child(1):focus {
                    box-shadow:
                        0px -2px 2px 1px $clr-accent-100,
                        inset 0px 5px 15px 1px hsla(171, 66%, 44%, 0.626);
                    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(255, 255, 255, 0.5));
                    transition: 1500ms ease-in-out;
                }

                & button:nth-child(2) {
                    background-color: $clr-primary-200;
                    box-shadow:
                        inset 0px -2px 2px 1px $clr-accent-200,
                        0px 5px 15px 1px hsla(233, 100%, 69%, 0.629);
                }

                & button:nth-child(2):hover,
                & button:nth-child(2):focus {
                    box-shadow:
                        0px -2px 2px 1px $clr-accent-200,
                        inset 0px 5px 15px 1px hsla(233, 100%, 69%, 0.629);
                    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(255, 255, 255, 0.5));
                    transition: 1500ms ease-in-out;
                }
            }
        }
    }

    // Footer

    footer {
        width: 100%;
        height: 150px;
        max-width: $maxWidth;
        display: flex;
        background-color: $clr-neutral-400;

        & .footer-section {
            width: 33%;
            display: flex;
        }

        & .footer-logo {
            justify-content: center;
            align-items: center;

            & svg {
                transform: scale(0.4);
            }
        }

        & .footer-contact {
            justify-content: center;
            align-items: center;

            & .links {
                width: 30%;
                height: 50%;
                display: flex;
                flex-direction: column;
                gap: 1em;

                & a {
                    text-decoration: none;
                    cursor: pointer;
                    color: $clr-neutral-100;
                    font-family: $ff-100;
                    font-size: $fs-100;
                    transition: 500ms ease-in-out;
                }

                & a:hover,
                & a:focus {
                    color: $clr-primary-100;
                    transition: 500ms ease-in-out;
                }
            }
        }

        & .footer-social {
            justify-content: center;
            align-items: center;

            & a {
                text-decoration: none;
                color: $clr-neutral-100;
                cursor: pointer;
                font-size: $fs-100 + 0.6rem;
                margin-left: 1em;
                transition: 500ms ease-in-out;
            }

            & a:hover,
            & a:focus {
                color: $clr-primary-100;
                transition: 500ms ease-in-out;
            }
        }
    }
}
